<!-- <p [ngStyle]="{'background-color': 'red'}">
        {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p> -->
<!-- <p [ngStyle]="{backgroundColor: 'red'}">
    {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p> -->
<!-- <p [ngStyle]="{backgroundColor: getColor()}">
    {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p> -->
<p [ngStyle]="{backgroundColor: getColor()}" 
[ngClass]="{online: serverStatus === 'online'}">
    {{ 'Server' }} with ID {{ server.serverId }} 
    and name {{ server.serverName }} is currently {{ getServerStatus() }}
</p>